@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.wrapper {
  position: absolute;
  background: #fff;
  width: 375px;
  height: 718px;
  background-image: url(images/header-background-mobile.svg);
}

header .nav-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 48px;
  top: 44px;
}

.logo {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 12px;
}

.hamburger {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.hamburger image {
  width: 24px;
  height: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2);
  top: 92px;
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
}

.intro-name {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  left: 24px;
  top: 114px;
}

.intro-bio {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.social-text {
  font-size: 16px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.social-media {
  width: 170.17px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
